@media screen and (min-width:990px) {
    div.headerBar {
        height: 13vh;
        
    }
    img.logo {
        width: 20vw;
    }

    img.woman {
        width: 500px;
    }

    div.callUs {
        left: -480px;
        bottom: -76px;
    }
    .cards-style {
       
        font-family: Avenir-BoldCn;
        border-radius: 12px;
        font-size: 18px;
        color: #525252;
        background-color: #efefef;
        border: none;
    
    }
    div.covid-19 {
        font-size: 23px;
        padding: 10px;
    }
    .covid-logo {
        position: absolute;
        left: 66px;
        top: 15px;
        width: 50px;
        height: 50px;
        filter: invert(18%) sepia(89%) saturate(6318%) hue-rotate(3deg) brightness(82%) contrast(119%);
    }

    div.reason-pic {

        max-height: 150px;
    }
    div.hover-active p{
        color: white;
        font-family: Avenir-Bold;
        font-size: 11px;
        line-height: 12px;
        
    }
   
    div.slider-title h1 {
        font-size: 70px;
    }

    div.title1_container span{
        font-size: 6vw;
    }
  
    .footer-info {
        font-size: 24px;
    }

    .value-logo {

        width: 40px;
        filter: invert(96%) sepia(0%) saturate(7391%) hue-rotate(42deg) brightness(61%) contrast(112%);
    }
}